@using CandidateMGMT.Shared@*.ViewModels*@
@inject HttpClient Http

<!-- Modal -->
<div class="modal fade" id="portal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thông tin ứng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
                <div>
                    <form id="myForm" action="" method="post" enctype="multipart/form-data">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Vị trí</label>
                                <select class="custom-select" id="position">
                                    <option hidden></option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Chức danh</label>
                                <select class="custom-select" id="level">
                                    <option hidden></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Import CV</label>
                                <div class="custom-file">
                                    <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Người giới thiệu</label>
                                <input type="text" class="form-control" id="introduce" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Họ tên</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPhone">Phone</label>
                                <input type="text" class="form-control" id="phone" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputBirthday">Birthday</label>
                                <input type="text" class="form-control" id="birthday" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="text" class="form-control" id="email" />
                            </div>
                        </div>

                        <div class="form-row">
                            &#10
                            <div class="form-group col-md-12">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="address" />
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <span>Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*@code{
    int candidateId = 0;

    private Candidate candi = new();

    protected override async Task OnInitializedAsync()
    {
        candi = await Http.GetFromJsonAsync<Candidate>($"api/candidate/{candidateId}");
    }
}*@